<section>
    <div class="container">
        <div class="row mt-4">
 
        </div>
        <table class="table mt-5" id="productsTable">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    
                </tr>
            </thead>
            <tbody>
                
                {{#each users}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    
                </tr>
                {{/each}}
            </tbody>
        </table>





    </div>

</section>