<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-8.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Rice</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>61.00 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-20.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Wheat </a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>52.00 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    