<div class="col-lg-9 col-md-8">
    <div class="row pb-3">
        <div class="col-12 pb-1">
            <div class="d-flex align-items-center justify-content-between mb-4">
              
                <div class="ml-2">
                    <div class="btn-group">
                        
                        <div class="dropdown-menu dropdown-menu-right">
                           
                        </div>
                    </div>
                    <div class="btn-group ml-2">
                        
                        <div class="dropdown-menu dropdown-menu-right">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/good.6.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Astra</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>60.00 RS</h5><h6>(1kg)</h6>

                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/good.5.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                       
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">PlantPlus</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>32.00 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/good.8.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Agured-powder</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>30 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>