<div class="col-lg-9 col-md-8">
    <div class="row pb-3">
        <div class="col-12 pb-1">
            <div class="d-flex align-items-center justify-content-between mb-4">
              
                <div class="ml-2">
                    <div class="btn-group">
                        
                        <div class="dropdown-menu dropdown-menu-right">
                           
                        </div>
                    </div>
                    <div class="btn-group ml-2">
                        
                        <div class="dropdown-menu dropdown-menu-right">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Pumpkin</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>60.00 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-2.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                       
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Tomato</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>32.00 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-12.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">cauliflower</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>30 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-13.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Cabbage</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>46.00 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-10.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Carrot</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>62.00 RS</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-11.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                       
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Beans</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>70.00</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-3.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Onion</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>45.00 Rs</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-4.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                        
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">Cucumber</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>23.00 Rs</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-14.jpg" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="detail.html"><i class="fa fa-shopping-cart"></i></a>
                       
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="detail.html">potato</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>65.00 Rs</h5><h6>(1kg)</h6>
                        </div>
                   <a href="/product"><button  class="btn btn-primary">Add to cart</button></a>
                </div>
                    </div>
                    
                </div>
            </div>
        </div>
              <div class="col-12">
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>