<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <title>Agrizon - Online Shop </title>
    <link rel="website icon" type="jpg" href="img/agrizonlogo.jpg">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.icon" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="C:\Users\jack\OneDrive\Desktop\lets_do_it\lib\animate\animate.min.css" rel="stylesheet">
    <link href="C:\Users\jack\OneDrive\Desktop\lets_do_it\lib\owlcarousel\assets\owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
   <script type="text/javascript" charset="utf-8"
   src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <link href="\stylesheets\style.css" rel="stylesheet">
</head>

<body>
    {{#if admin}}
    {{>admin-header}}
    {{else}}
    {{>user-header}}
    {{/if}}
    {{{body}}}



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="C:\Users\jack\OneDrive\Desktop\lets_do_it\lib\easing\easing.min.js"></script>
    <script src="C:\Users\jack\OneDrive\Desktop\lets_do_it\lib\owlcarousel\owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="C:\Users\jack\OneDrive\Desktop\lets_do_it\mail\jqBootstrapValidation.min.js"></script>
    <script src="C:\Users\jack\OneDrive\Desktop\lets_do_it\mail\contact.js"></script>

    <!-- Template Javascript -->
    <script src="C:\Users\jack\OneDrive\Desktop\lets_do_it\js\main.js"></script>
    <!-- Navbar End -->
    
    <script src="/javascripts/script.js"></script>
</body>

</html>